<!-- add.hbs -->
<a href='/'>Back</a>
<div class='payment-card'>
  {{#if error}}
    <p class='error'>{{error}}</p>
  {{/if}}

  <p>Your Balance: ${{userBalance}}</p>

  <form action='/add/{{userId}}/send-pin' method='post'>
    <div class='input-group'>
      <label for='amount'>Amount:</label>
      <input type='number' id='amount' name='amount' placeholder='Enter amount' required />
    </div>
    <button class='add-button' type='submit'>Add</button>
  </form>

  <form action='/payment/{{orderId}}' method='get'>
    <button class='add-button' type='submit'>Back To Payment</button>
  </form>
</div>