<!-- add.hbs -->
<div class='container d-flex justify-content-center align-items-center' style='height: 100vh;'>
  <div class='card payment-card' style='width: 400px; border: 1px solid #ccc;'>
    <div class='card-body'>
      {{#if error}}
        <div class='alert alert-danger' role='alert'>{{error}}</div>
      {{/if}}

      <h5 class='card-title text-center'>Your Balance: ${{userBalance}}</h5>

      <form action='/add/{{userId}}/send-pin' method='post'>
        <div class='mb-3'>
          <label for='amount' class='form-label'>Amount:</label>
          <div class='input-group'>
            <input type='number' class='form-control' id='amount' name='amount' placeholder='Enter amount' required />
            <button class='btn btn-primary' type='submit'>Add</button>
          </div>
        </div>
      </form>

      <form action='/payment/{{orderId}}' method='get'>
        <button class='btn btn-secondary' type='submit'>Back To Payment</button>
      </form>
    </div>
  </div>
</div>