<div class='payment-card'>
  <h1>You must create an account for Basic Web to process the next step</h1>
  <button onclick="window.location.href='/auth/register-payment-account';">Create Account</button>
</div>