<!-- add.hbs -->
<a href='/'>Back</a>
<div class='payment-card'>
  {{#if error}}
    <p class='error'>{{error}}</p>
  {{/if}}
  <form action='/payment' method='post'>
    <div class='input-group'>
      <label for='username'>Username:</label>
      <input type='text' id='username' name='username' placeholder='Enter username' required />
    </div>
    <div class='input-group'>
      <label for='money'>Total Money:</label>
      <input type='number' id='totalMoney' name='totalMoney' placeholder='Total money' required />
    </div>
    <button class='add-button' type='submit'>Buy</button>
  </form>
</div>