{{>hero}}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
        <img src='/img/trophy.svg' alt='Trophy'>
        <div>
            <h3 class="fw-bold mb-0 fs-4">High Quality</h3>
            <p>Crafted from top materials</p>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
            <h3 class="fw-bold mb-0 fs-4">Warranty Protection</h3>
            <p>Over 2 years</p>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
            <h3 class="fw-bold mb-0 fs-4">Free Shipping</h3>
            <p>Order over $ 150</p>
        </div>
        </div>
        <div class="col d-flex align-items-start">
        <div>
            <h3 class="fw-bold mb-0 fs-4">24 / 7 Support</h3>
            <p>Dedicated support</p>
        </div>
        </div>
    </div>
</div>