{{! Hero section }}
{{!-- <div class='container'> --}}
  <div id='carouselExampleCaptions' class='carousel slide mt-2' data-bs-ride='carousel'>
    <div class="carousel-inner">
        {{>hero-item}}
        {{>hero-item}}
        {{>hero-item}}
    </div>

    {{! Previous button }}
    <button class='carousel-control-prev' type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev'>
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>

    {{! Next button }}
    <button class='carousel-control-next' type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next'>
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>
{{!-- </div> --}}

{{! Support and Policies section }}
<div class='container'>
  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 my-3 p-5 p-sm-0'>
    <div class='col d-flex align-items-center justify-content-between justify-content-sm-evenly'>
      <img src='/images/trophy.svg' alt='Trophy' width='40' />

      <div class="text-end text-sm-start">
        <h5 class='fw-semibold mb-0 fs-5'>High Quality</h5>
        <p class='mb-0'>Crafted from top materials</p>
      </div>
    </div>

    <div class='col d-flex align-items-center justify-content-between justify-content-sm-evenly'>
      <img src='/images/patch-check.svg' alt='Warranty check' width='45' />

      <div class="text-end text-sm-start">
        <h5 class='fw-semibold mb-0 fs-5'>Warranty Protection</h5>
        <p class='mb-0'>Over 2 years</p>
      </div>
    </div>

    <div class='col d-flex align-items-center justify-content-between justify-content-sm-evenly'>
      <img src='/images/box2-heart.svg' alt='Shipping box' width='45' />

      <div class="text-end text-sm-start">
        <h5 class='fw-semibold mb-0 fs-5'>Free Shipping</h5>
        <p class='mb-0'>Order over $ 150</p>
      </div>
    </div>

    <div class='col d-flex align-items-center justify-content-between justify-content-sm-evenly'>
      <img src='/images/headset.svg' alt='Headset' width='45' />

      <div class="text-end text-sm-start">
        <h5 class='fw-semibold mb-0 fs-5'>24 / 7 Support</h5>
        <p class='mb-0'>Dedicated support</p>
      </div>
    </div>
  </div>
</div>

{{! Top products section }}
<div class='container'>
  <h1 class='row d-flex justify-content-center mt-5'>Our Top Products</h1>

  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 my-3'>
  {{#each topProducts}}
      <div class="col">{{> product-card this}}</div>
  {{/each}}
  </div>

  <h1 class='row d-flex justify-content-center mt-5'>New Bed Collection</h1>

  <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 my-3'>
  {{#each beds}}
      <div class="col">{{> product-card this}}</div>
  {{/each}}
  </div>

  <h1 class='text-center my-5'>
    <a class="btn btn-outline-primary" href="/results?search_query=Bed" role="button">Discover more</a>
  </h1>
</div>
