{{#if user}}
  <h2>{{user.email}} login</h2>

  <form method='post' action='{{BASE_URL}}/auth/logout'>
    <button type='submit' class='btn btn-primary'>Logout</button>
  </form>
{{else}}
  <a class='btn btn-primary' href='/auth/login' role='button'>Login</a>
{{/if}}

{{>hero}}

<div class="container">
    <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
    >
        <div class="col d-flex align-items-center justify-content-around">
            {{!-- <img src="/img/trophy.svg" alt="Trophy" /> --}}
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="55"
                height="55"
                fill="currentColor"
                class="bi bi-trophy"
                viewBox="0 0 16 16"
            >
                <path
                    d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                />
            </svg>
            <div>
                <h5 class="fw-semibold mb-0 fs-4">High Quality</h5>
                <p>Crafted from top materials</p>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-around">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="55"
                height="55"
                fill="currentColor"
                class="bi bi-patch-check"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                />
                <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                />
            </svg>
            <div>
                <h5 class="fw-semibold mb-0 fs-4">Warranty Protection</h5>
                <p>Over 2 years</p>
            </div>
        </div>
        <div class="col d-flex align-items-start justify-content-around">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="55"
                height="55"
                fill="currentColor"
                class="bi bi-box2-heart"
                viewBox="0 0 16 16"
            >
                <path
                    d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982"
                />
                <path
                    d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6zM8.5 4V1h3.75l2.25 3zM15 5v10H1V5z"
                />
            </svg>
            <div>
                <h5 class="fw-semibold mb-0 fs-4">Free Shipping</h5>
                <p>Order over $ 150</p>
            </div>
        </div>
        <div class="col d-flex align-items-start justify-content-around">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="55"
                height="55"
                fill="currentColor"
                class="bi bi-headset"
                viewBox="0 0 16 16"
            >
                <path
                    d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"
                />
            </svg>
            <div>
                <h5 class="fw-semibold mb-0 fs-4">24/7 Support</h5>
                <p>Dedicated support</p>
            </div>
        </div>
    </div>
</div>

<h1 class="d-flex justify-content-center">Our Products</h1>
