{{#eq 2 2}}
  <p>2 is equal to 2</p>
{{else}}
  <p>2 is not equal to 2</p>
{{/eq}}{{#eq 2 2}}
  <p>2 is equal to 2</p>
{{else}}
  <p>2 is not equal to 2</p>
{{/eq}}

{{#eq 2 3}}
  <p>2 is equal to 3</p>
{{else}}
  <p>2 is not equal to 3</p>
{{/eq}}