<div class='p-2 p-md-0 container'>
  <h2 class="profile-title">Update your profile</h2>

  <form action='/profile' method='post' class='row g-4'>
    <div class='col-12'>
      <label>Name<span class='text-danger'>*</span></label>
      <input name='name' value='{{name}}' type='text' class='form-control' placeholder='Enter name' required />
    </div>

    <div class='col-12'>
      <label>Email<span class='text-danger'>*</span></label>
      <input name='email' value='{{email}}' type='email' class='form-control' placeholder='Enter email' required />
    </div>

    <div class='col-12'>
      <button type='submit' class='btn btn-primary px-4'>Save</button>
    </div>
  </form>
</div>