<div class='cart-item card mb-3 shadow-sm'>
  <div class='row g-0'>
    {{! Product image }}
    <div class='col-md-4'>
      <div class='w-100 overflow-hidden d-flex justify-content-center align-items-center' style='aspect-ratio: 1 / 1;'>
        <img src='/images/vase.jpg' class='img-fluid rounded-start' alt='Vase' />
      </div>
    </div>

    <div class='col-md-8'>
      <div class='card-body d-flex align-items-start justify-content-between'>
        {{! Product name &  price wrapper }}
        <div>
          <h5 class='card-title'>Urn Vase</h5>

          <h5 class='card-title' style='color:#85BB65;'>$ 45</h5>
        </div>

        {{! Trash can icon }}
        <i class='bi bi-trash fs-5'></i>
      </div>
    </div>
  </div>
</div>