<div class='container'>
  {{! Divider }}
  <div class='row'>
    <hr class='mt-5 mb-3' />
  </div>

  <div class='row'>
    <footer>
      <p class='float-end'><a href='#'>Back to top</a></p>

      <p>&copy; Fusion Furni. All rights reserved &middot; <a href='#'>Privacy</a> &middot; <a href='#'>Terms</a></p>
    </footer>
  </div>
</div>