<div class='carousel-item active'>
  <img
    src='/images/hero.jpg'
    class='d-block w-100'
    alt='Big Dining Table'
    style='object-fit: cover;'
    {{! width='1240' }}
    {{! height='657' }}
    height='500'
  />

  {{! Carousel caption }}
  <div class='carousel-caption d-none d-md-flex h-100 align-items-center'>
    <div class='bg-body-tertiary w-25 ms-4'>
      <h5 class='text-dark pb-2'>Simplicity at its Best</h5>
      <p class='text-dark'>Introducing our Minimalistic Desk, the perfect addition to your modern workspace. With its
        clean lines and sleek design, it's not just a desk, it's a centerpiece for productivity.</p>
      <h5 class='text-dark'>Special Promotion: $75</h5>
    </div>
  </div>
</div>