<div class='carousel-item active'>
  <img
    src='/img/dining-table.jpg'
    class='d-block w-100'
    alt='Big Dining Table'
    style='object-fit: cover;'
    width='1240'
    height='657'
  />

  {{! carousel caption }}
  <div class='carousel-caption d-none d-md-block bg-body-tertiary bg-opacity-50'>
    {{! <div class='carousel-caption bg-white bg-opacity-75'> }}
    <h5 class='text-dark'>Big Dining Table</h5>
    <h5 class='text-dark'>$ 250</h5>
    <a class='btn btn-primary' href='#'>Add to cart</a>
  </div>
</div>