{{! <div class='card shadow-lg'>
  <img src='images/couch.jpg' class='card-img-top' alt='Couch' />

  <div class='card-body'>
    <h5 class='card-title'>Modern Loveseat Couch</h5>
    <h5 class='card-title' style='color:#85BB65;'>$ 50</h5>

    <a href='#' class='btn btn-primary'>Add to cart</a>
  </div>
</div> }}

{{! <div>
  <div class='product-card'>
    <div class='product-image'>
      <a href='#'>
        <img class='pic-1' src='images/couch.jpg' alt='Couch' />
      </a>
    </div>

    <div class='product-content'>
      <h3 class='title'>
        Modern Loveseat Couch
      </h3>

      <div class='price'>
        $ 50
        <span>$ 75</span>
      </div>
    </div>

    <ul class='actions'>
      <li>
        <a href='/products/18' data-tip='Detail' class='d-flex justify-content-center align-items-center'>
          <i class='bi bi-eye'></i>
        </a>
      </li>

      <li>
        <a href='' data-tip='Add to cart' class='d-flex justify-content-center align-items-center'>
          <i class='bi bi-cart3'></i>
        </a>
      </li>
    </ul>
  </div>
</div> }}

<div class='product-card position-relative'>
  <div class='image-holder'>
    <img src='images/couch.jpg' alt='couch' class='img-fluid' />
  </div>

  <div class='cart-concern position-absolute d-flex justify-content-center'>
    <div class='cart-button d-flex'>
      <a href='#' class='btn btn-primary'>
        Add to Cart
        <i class='bi bi-cart3'></i>
      </a>
    </div>
  </div>

  <div class='card-detail d-flex justify-content-between align-items-baseline pt-3 gap-2'>
    <h4 class='title text-capitalize fw-semibold'>
      <a href='#'>Modern Loveseat Couch</a>
    </h4>

    <h4 class='price'>$50</h4>
  </div>
</div>