<div class='card shadow-lg'>
  <img src='images/couch.jpg' class='card-img-top' alt='Couch' />

  <div class='card-body'>
    <h5 class='card-title'>Modern Loveseat Couch</h5>
    <h5 class='card-title' style='color:#85BB65;'>$ 50</h5>

    <a href='#' class='btn btn-primary'>Add to cart</a>
  </div>
</div>