<div class='search-popup'>
  <div class='search-popup-container'>

    <form action='/results' method='get' class='search-form'>
      <input
        type='search'
        id='search-form'
        class='search-field'
        placeholder='Type and press Enter'
        name='search_query'
      />
    </form>

    <h5 class='cat-list-title'>Browse categories</h5>

    <ul class='cat-list'>
      {{#each categories}}
        <li class='cat-list-item'><a href='/results?search_query={{this}}'>{{this}}</a></li>
      {{/each}}
    </ul>

  </div>
</div>