<div class='search-popup'>
  <div class='search-popup-container'>

    <form role='search' method='get' class='search-form' action=''>
      <input
        type='search'
        id='search-form'
        class='search-field'
        placeholder='Type and press Enter'
        value=''
        name='search'
      />
    </form>

    <h5 class='cat-list-title'>Browse categories</h5>

    <ul class='cat-list'>
      <li class='cat-list-item'><a href='#'>Desks</a></li>
      <li class='cat-list-item'><a href='#'>Dresses</a></li>
      <li class='cat-list-item'><a href='#'>Sofas</a></li>
      <li class='cat-list-item'><a href='#'>Armchairs</a></li>
      <li class='cat-list-item'><a href='#'>Beds</a></li>
      <li class='cat-list-item'><a href='#'>Nightstands</a></li>
      <li class='cat-list-item'><a href='#'>Bookcases</a></li>
    </ul>

  </div>
</div>