* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-form-wrapper {
  max-width: 480px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.login-form {
  /* background-color: aqua; */
}
