* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-form-wrapper {
  max-width: 480px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

label {
  margin-bottom: 8px;
}

/* Product detail styles */
.product-detail {
  display: flex;
  gap: 40px;
}

.product-detail__info {
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.product-detail__title {
}

.product-detail__price {
  color: #85bb65;
  font-weight: 600;
  font-size: 32px;
}

.product-detail__description {
  color: #0000008c;
}

.product-detail__add {
  display: flex;
  width: fit-content;
  border: none;
  outline: none;
  padding: 8px 16px;
  min-width: 140px;
  justify-content: center;
  border-radius: 4px;
  background-color: #0d6efd;
  color: #fff;
}

.product-detail__add:hover {
  opacity: 0.8;
}

.product-detail__image {
  width: 600px;
  height: 360px;
}

.product-detail__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Search form **/
.search-form input[type='search'].search-field {
  border: none;
  background: #f1f1f1;
  width: 100%;
  border-radius: 10px;
  padding: 10px 25px;
}
/** END OF Search form **/

/** Search popup **/
.search-popup {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.search-popup.is-visible {
  opacity: 1;
  visibility: visible;
  cursor: -webkit-image-set(
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E")
        1x,
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E")
        2x
    ),
    pointer;
  cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E"),
    pointer;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.search-popup-container {
  background-color: transparent;
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: none;
  cursor: default;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.is-visible .search-popup-container {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-popup .cat-list-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.search-popup .cat-list {
  margin: 0;
  list-style-type: none;
}
.search-popup .cat-list-item {
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: 0.125em;
  font-size: 1.75em;
}
.search-popup .cat-list-item a {
  position: relative;
  text-decoration: none;
  color: black;
}
.search-popup .cat-list-item a::after {
  background: none repeat scroll 0 0 #fff;
  content: '';
  height: 1px;
  border-bottom: 2px solid #0d6efd;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.search-popup .cat-list-item a:hover::after {
  height: 1px;
  opacity: 1;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.search-popup .cat-list-item::after {
  content: '/';
  padding: 0 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: text-top;
}
.search-popup .cat-list-item:last-child::after {
  display: none;
}

@media only screen and (max-width: 991px) {
  .search-popup .cat-list-item {
    font-size: 1.425em;
  }
}
@media only screen and (max-width: 575px) {
  .search-popup .cat-list-item {
    font-size: 1.125em;
  }
}

.search-popup input[type='search'] {
  font-size: 24px;
  height: 60px;
  padding: 26px;
}
/** END OF Search popup **/

/** Product card **/
/* .product-card,
.product-card .product-image {
  overflow: hidden;
}
.product-card {
  text-align: center;
  position: relative;
  transition: all 0.5s ease 0s;
}
.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product-card .product-image a {
  display: block;
}
.product-card .product-image img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.product-card:hover .product-image img {
  transform: scale(1.1);
}
.product-card .product-content {
  padding: 12px 12px 15px;
  transition: all 0.5s ease 0s;
}
.product-card:hover .product-content {
  opacity: 0;
}
.product-card .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-card .price {
  font-size: 20px;
  font-weight: 700;
  color: #85bb65;
}
.product-card .price span {
  color: #adb5bd;
  font-size: 18px;
  font-weight: 450;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}
.product-card .actions {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.product-card:hover .actions {
  opacity: 1;
  bottom: 20px;
}
.product-card .actions li {
  display: inline-block;
}
.product-card .actions li a {
  color: #adb5bd;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 45px;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 2.5px solid #adb5bd;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.product-card .actions li a:hover {
  color: #fff;
  background-color: #0d6efd;
  width: 80px;
}
.product-card .actions li a:after,
.product-card .actions li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #0d6efd;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-card .actions li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}
.product-card .actions li a:hover:after,
.product-card .actions li a:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  .product-card {
    margin-bottom: 30px;
  }
} */
/** END OF Product card **/

/** Product card **/
.product-card .image-holder img {
  overflow: hidden;
}
.product-card .image-holder img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
}
.product-card:hover .image-holder img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.product-card .cart-concern {
  top: 50px;
  width: 100%;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.product-card:hover .cart-concern {
  top: 10px;
  opacity: 1;
}
.product-card .card-detail a {
  color: #000;
  text-decoration: none;
}
.product-card .card-detail .price {
  font-size: 20px;
  font-weight: 700;
  color: #85bb65;
}

@media only screen and (max-width: 575px) {
  .product-card .card-detail {
    padding: 10px;
  }
}
/** END OF Product card **/
